<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
  <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="ItemChatMod"/>
  <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="net.minecraftforge.userdev.LaunchTesting"/>
  <stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Dforge.logging.console.level=debug -Dforge.logging.markers="/>
  <stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-mixin.config=itemchat.mixins.json"/>
  <stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="D:\My-Programs\Minecraft Modding\ItemChatMod\ItemChatMod\run"/>
  <mapAttribute key="org.eclipse.debug.core.environmentVariables">
    <mapEntry key="MOD_CLASSES" value="itemchat%%D:\My-Programs\Minecraft Modding\ItemChatMod\ItemChatMod\bin\main;itemchat%%D:\My-Programs\Minecraft Modding\ItemChatMod\ItemChatMod\bin\main"/>
    <mapEntry key="MCP_MAPPINGS" value="snapshot_20200916-1.16.2"/>
    <mapEntry key="MCP_VERSION" value="20210115.111550"/>
    <mapEntry key="FORGE_VERSION" value="36.2.0"/>
    <mapEntry key="FORGE_GROUP" value="net.minecraftforge"/>
    <mapEntry key="target" value="fmluserdevserver"/>
    <mapEntry key="MC_VERSION" value="1.16.5"/>
  </mapAttribute>
</launchConfiguration>
